<!doctype html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem</title>
</head>
<body>
<div class="w3-container">
    <u><h1>Seja bem-vindo(a) a listagem de transações</h1></u>

    <ul>
        {% for transacao in transacoes %}
        <li>{{ transacao }} - {{ transacao.valor }} - {{ transacao.categoria }} - {{ transacao.data }}</li>
        {% endfor %}
    </ul>
    <button class="w3-btn w3-round-large w3-button w3-black" type="button">
        <a href="{% url 'form' %}">Novo produto</a>
    </button>
</div>
</body>
</html>